<!-- <app-congrats
	*ngFor="let threshold of thresholds"
	[numberOfClicks]="numberOfClicks"
	[threshold]="threshold"
></app-congrats> -->
<!-- <app-congrats
	[numberOfClicks]="numberOfClicks"
	[threshold]="thresholds[0]"
	*ngIf="numberOfClicks >= 10"
></app-congrats>
<app-counter-button
	[numberOfClicks]="numberOfClicks"
	(increment)="increment($event)"
></app-counter-button> -->

<app-nav-bar></app-nav-bar>
<app-sign-up-form></app-sign-up-form>
<router-outlet></router-outlet>
<div>Copyright Me 2021</div>